<!-- 主页 -->
{% extends "nav.html" %}

{% block title %}
    IMUSTCTF
{% endblock %}

{% block csslist %}
    <style>
        .item-bg1 {
            background-image: url({{ needs_pic_data.0 }})
        }

        .item-bg2 {
            background-image: url({{ needs_pic_data.1 }})
        }

        .item-bg3 {
            background-image: url({{ needs_pic_data.2 }})
        }
    </style>
{% endblock %}

{% block index %}
    active
{% endblock %}

{% block main %}
    <!-- 轮播图 -->
    <div class="banner-slider-area">
        <div class="banner-slider owl-carousel owl-theme">
            <div class="banner-item item-bg1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="banner-item-content"><span>IMUSTCTF头条</span>
                                <h1>{{ needs_hot_data.0.title }}</h1>
                                <p>{{ needs_hot_data.0.desc }}</p>
                                <div class="banner-btn">
                                    <a href="{{ needs_hot_data.0.url }}" target="_blank" class="default-btn btn-bg-two border-radius-50">详情 <i
                                            class='bx bx-chevron-right'></i></a>
                                    <!-- 轮播图上面的黄色按钮，暂未使用
                                    <a href="#" class="default-btn btn-bg-one border-radius-50 ml-20">测试 <i class='bx bx-chevron-right'></i></a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-item item-bg2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="banner-item-content"><span>IMUSTCTF头条</span>
                                <h1>{{ needs_hot_data.1.title }}</h1>
                                <p>{{ needs_hot_data.1.desc }}</p>
                                <div class="banner-btn"><a href="{{ needs_hot_data.1.url }}" target="_blank"
                                                           class="default-btn btn-bg-two border-radius-50">详情 <i
                                        class='bx bx-chevron-right'></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-item item-bg3">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="banner-item-content"><span>IMUSTCTF头条</span>
                                <h1>{{ needs_hot_data.2.title }}</h1>
                                <p>{{ needs_hot_data.2.desc }}</p>
                                <div class="banner-btn"><a href="{{ needs_hot_data.2.url }}" target="_blank"
                                                           class="default-btn btn-bg-two border-radius-50">详情 <i
                                        class='bx bx-chevron-right'></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 轮播图结束 -->

    <!-- whoami -->
    <div class="about-area ptb-100">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="about-content mr-20">
                        <div class="section-title"><span class="sp-color2">whoami</span>
                            <h2>在 IMUSTCTF 你可以做什么</h2>
                            <p>
                                IMUSTCTF创办于2022年10月13日，在这里，你可以和来自全国各地的黑客朋友共同竞技与交流，IMUSTCTF拒绝脚本小子和恶意攻击者的加入，IMUSTCTFer活跃在全国各地，为中国的网络空间安全贡献着属于自己的一份力量</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <div class="about-content-card"><i class="flaticon-practice"></i>
                                    <h3>练习竞赛</h3>
                                    <p>君子博学而日参省乎己，则知明而行无过矣</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="about-content-card"><i class="flaticon-help"></i>
                                    <h3>交流学习</h3>
                                    <p>才须学也。非学无以广才，非志无以成学</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img"><img src="{% static 'index/images/index/hacker_coding.png' %}"
                                                alt="黑客编程">
                        <div class="sub-content"><img src="{% static 'index/images/index/hacker_index.png' %}"
                                                      alt="hacker"
                                                      style="height: 100px;">
                            <div class="content">
                                <h3>{{ user_count }}</h3>
                                <span>IMUSTCTFer</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- whoami结束 -->

    <!-- 全球黑客社区 -->
    <section class="services-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center"><span class="sp-color1">全球黑客社区</span>
                <h2>未知攻，焉知防</h2>
                <p class="margin-auto">Unknown attack, how to know defense </p>
            </div>
            <div class="row pt-45">
                <div class="col-lg-3 col-sm-6">
                    <div class="services-card">
                        <h3><a href="https://www.thehackerworld.com/" target="_blank">黑客世界</a></h3>
                        <p>侠之大者，为国为民，创始信安，沿途护航，全球最大的黑客论坛</p>
                        <a href="https://www.thehackerworld.com/" target="_blank" class="learn-btn">直达 <i
                                class='bx bx-chevron-right'></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="services-card">
                        <h3><a href="https://0x00sec.org/" target="_blank">0x00sec</a></h3>
                        <p>黑客，恶意软件，计算机工程，逆向工程</p>
                        <a href="https://0x00sec.org/" target="_blank" class="learn-btn">直达 <i
                                class='bx bx-chevron-right'></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="services-card">
                        <h3><a href="https://www.hacktoday.net/" target="_blank">Hack Today</a></h3>
                        <p>社区涵盖所有类型的黑客话题，The Home of Hackers!</p>
                        <a href="https://www.hacktoday.net/" target="_blank" class="learn-btn">直达 <i
                                class='bx bx-chevron-right'></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="services-card">
                        <h3><a href="https://forum.antichat.com/" target="_blank">ANTICHAT</a></h3>
                        <p>一个俄罗斯的黑客论坛，Security online community</p>
                        <a href="https://forum.antichat.com/" target="_blank" class="learn-btn">直达 <i
                                class='bx bx-chevron-right'></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-shape"><img src="{% static 'index/images/index/service-shape.png' %}" alt="Images"></div>
    </section>
    <!-- 全球黑客社区结束 -->

    <!-- CTF -->
    <section class="work-process-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center"><span class="sp-color2">CTF科普</span>
                <h2>CTF类型、工具和应对策略</h2>
            </div>
            <div class="row pt-45">
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>安全杂项</h3>
                        <p>题目或涉及流量分析、电子取证、人肉搜索、数据分析等等，考验脑洞和经验</p>
                        <div class="number">MISC</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>逆向工程</h3>
                        <p>题目涉及到软件逆向、破解技术，通过工具在逆向分析中的基本使用方法，并通过方法来找到程序密码</p>
                        <div class="number">REVERSE</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>Web漏洞</h3>
                        <p>即题目会涉及到常见的Web漏洞，诸如注入、XSS、文件包含、代码执行等漏洞</p>
                        <div class="number">Web</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>密码学</h3>
                        <p>题目考察各种加解密技术，包括古典加密技术、现代加密技术甚至出题者自创加密技术</p>
                        <div class="number">CRYPTO</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>二进制</h3>
                        <p>Pwn 是其中的一类重要题型，主要考查选手二进制逆向分析、漏洞挖掘以及 Exploit 编写的能力</p>
                        <div class="number">PWN</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>隐写术</h3>
                        <p>题目的Flag会隐藏到图片、音频、视频等各类数据载体中供参赛者获取</p>
                        <div class="number">STEGA</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>移动安全</h3>
                        <p>主要考察选手对安卓和ios系统的理解，以及对于移动安全的掌握程度</p>
                        <div class="number">Mobile</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="work-process-card">
                        <h3>攻防对抗</h3>
                        <p>比赛中每个队伍维护多台服务器，服务器中存在多个漏洞，利用漏洞攻击其他队伍可以进行得分</p>
                        <div class="number">AWD</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CTF结束 -->

    <!-- 加入我们 -->
    <div class="build-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <div class="build-content">
                        <div class="section-title"><span>IMUSTCTF开发团队是一个有活力的团队</span>
                            <h2>加入我们！一起用代码改变世界</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="build-btn-area"><a class="default-btn btn-bg-two border-radius-50">加入我们（暂不招人）<i
                            class='bx bx-chevron-right'></i></a></div>
                </div>
            </div>
            <div class="build-play-img pt-45"><img src="{% static 'index/images/index/join_us.png' %}"
                                                   alt="加入我们背景图">
                <div class="play-area-content"><span>指尖攻防，是敌非友</span>
                    <h2>这一战，要打的漂亮！</h2>
                </div>
                <div class="play-area"><a
                        href="{{ needs_video_data.videourl }}"
                        class="play-on popup-btn"><i
                        class='bx bx-play'></i></a></div>
            </div>
        </div>
    </div>
    <!-- 加入我们结束 -->

    <!-- 给我们留言 -->
    <div class="call-us-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="call-contact">
                        <h3>管理员QQ</h3>
                        <a class="call-btn">3390205563</a>
                        <h3>内蒙古科技大学网络安全协会</h3>
                        <a class="call-btn">137670583</a>
                        <h3>内蒙古科技大学ACM程序设计协会</h3>
                        <a class="call-btn">147154718</a>
                        <p></p>
                        <a class="default-btn btn-bg-two border-radius-5">留言（待开放）</a></div>
                </div>
                <div class="col-lg-6">
                    <div class="call-us-img"><img src="{% static 'index/images/index/call_us.png' %}" alt="联系我们">
                        <div class="call-shape">
                            <div class="shape1"><img src="{% static 'index/images/index/call-shap.png' %}" alt="线条">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 给我们留言 -->

    <!-- 精选文章 -->
    <div class="case-study-area pt-100 pb-70">
        <div class="container-fluid p-0">
            <div class="section-title text-center"><span class="sp-color2">学习</span>
                <h2>IMUSTCTF全站精选文章（待开放）</h2>
            </div>
            <!-- IMUSTCTF全站精选文章，待开发
            <div class="case-study-slider owl-carousel owl-theme pt-45">
                <div class="case-study-item"><a href="#"> <img
                        src="" alt="Images"> </a>
                    <div class="content">
                        <h3><a href="#">Business Solution</a></h3>
                        <ul>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Planing</a></li>
                        </ul>
                        <a href="#" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a></div>
                </div>
            </div>
            -->
        </div>
    </div>
    <!-- 精选文章 -->

    <!-- 精选留言 -->
    <section class="clients-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center"><span class="sp-color2">精选留言</span>
                <h2>我们的留言板（待开放）</h2>
            </div>
            <!-- 留言轮播
            <div class="clients-slider owl-carousel owl-theme pt-45">
                <div class="clients-content">
                    <div class="content"><img src="" alt="Images"> <i
                            class='bx bxs-quote-alt-left'></i>
                        <h3>Jonthon Martin</h3>
                        <span>App Developer</span></div>
                    <p> “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi
                        elit consequat ipsum, nec sagittis.
                        sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren
                        accumsan ipsum velit.” </p>
                </div>
            </div>
            -->
        </div>
        <div class="client-circle">
            <div class="client-circle-1">
                <div class="circle"></div>
            </div>
            <div class="client-circle-2">
                <div class="circle"></div>
            </div>
            <div class="client-circle-3">
                <div class="circle"></div>
            </div>
            <div class="client-circle-4">
                <div class="circle"></div>
            </div>
            <div class="client-circle-5">
                <div class="circle"></div>
            </div>
            <div class="client-circle-6">
                <div class="circle"></div>
            </div>
            <div class="client-circle-7">
                <div class="circle"></div>
            </div>
        </div>
    </section>
    <!-- 精选留言结束 -->

    <!-- 精选视频 -->
    <div class="blog-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center"><span class="sp-color2">视频</span>
                <h2>IMUSTCTF全站精选视频（待开放）</h2>
            </div>
            <!-- 轮播视频
            <div class="row pt-45">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="#"> <img src="" alt="Images"> </a>
                            <div class="blog-tag">
                                <h3>11</h3>
                                <span>Dec</span></div>
                        </div>
                        <div class="content">
                            <ul>
                                <li><a href="#"><i class='bx bxs-user'></i> By Admin</a></li>
                                <li><a href="#"><i class='bx bx-purchase-tag-alt'></i>Business</a></li>
                            </ul>
                            <h3><a href="#">Product Idea Solution for New Generation</a></h3>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor,
                                nisi elit consequat ipsum.</p>
                            <a href="#" class="read-btn">Read More <i
                                    class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="blog-card">
                        <div class="blog-img"><a href="#"> <img src="" alt="Images"> </a>
                            <div class="blog-tag">
                                <h3>17</h3>
                                <span>Dec</span></div>
                        </div>
                        <div class="content">
                            <ul>
                                <li><a href="#"><i class='bx bxs-user'></i> By Admin</a></li>
                                <li><a href="#"><i class='bx bx-purchase-tag-alt'></i>Achive</a></li>
                            </ul>
                            <h3><a href="#">Business Strategy Make His Goal Acheive </a></h3>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor,
                                nisi elit consequat ipsum.</p>
                            <a href="#" class="read-btn">Read More <i
                                    class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <!-- 精选视频结束 -->
{% endblock %}



