<!-- 头部导航栏和底部的footer -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block meta_list %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="一个综合性的网络安全学习平台">
    <meta name="keywords"
          content="网络安全,黑客,网络空间安全,内蒙古科技大学,IMUSTCTF,CTF,CTF竞赛,CTF练习,内蒙古科技大学网络安全协会,hacker,网络安全教程,网络安全学习,中国网安">
    <title>{% block title %}{% endblock %}</title>
    {% block csslist %}{% endblock %}
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/fonts/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/responsive.css' %}">

    <link rel="icon" type="image/png" href="https://imustctf.top/static/logo.png">
</head>

<body>
<!-- 顶部导航栏 -->
<div class="navbar-area">
    <div class="mobile-nav"><a href="/" class="logo"><img src="https://imustctf.top/static/nav_logo.png"
                                                          alt="Logo"></a>
    </div>
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light "><a class="navbar-brand" href="/"><img
                    src="https://imustctf.top/static/nav_logo.png" alt="Logo"></a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item"><a href="/" class="nav-link {% block index %}{% endblock %}">首页</a>
                        </li>
                        <li class="nav-item"><a href="/arms/index/PT/hot/" class="nav-link {% block arms %}{% endblock %}">军火库 </a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Pages <i class='bx bx-caret-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="team.html" class="nav-link">Team </a></li>
                                <li class="nav-item"><a href="testimonials.html" class="nav-link">Testimonials </a></li>
                                <li class="nav-item"><a href="faq.html" class="nav-link">FAQ </a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Case Study <i
                                        class='bx bx-caret-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="case-study.html" class="nav-link">Case Study </a>
                                        </li>
                                        <li class="nav-item"><a href="case-details.html" class="nav-link">Case Study
                                            Details </a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link">User <i class='bx bx-caret-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="log-in.html" class="nav-link">Log In </a></li>
                                        <li class="nav-item"><a href="register.html" class="nav-link">Registration </a>
                                        </li>
                                        <li class="nav-item"><a href="forget-password.html" class="nav-link">Forget
                                            Password </a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="terms-condition.html" class="nav-link">Terms &
                                    Conditions </a></li>
                                <li class="nav-item"><a href="privacy-policy.html" class="nav-link">Privacy Policy </a>
                                </li>
                                <li class="nav-item"><a href="404.html" class="nav-link">404 page </a></li>
                                <li class="nav-item"><a href="coming-soon.html" class="nav-link">Coming Soon </a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Services <i class='bx bx-caret-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="services-1.html" class="nav-link">Services Style One </a>
                                </li>
                                <li class="nav-item"><a href="services-2.html" class="nav-link">Services Style Two </a>
                                </li>
                                <li class="nav-item"><a href="service-details.html" class="nav-link">Service
                                    Details </a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Blog <i class='bx bx-caret-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="blog-1.html" class="nav-link">Blog Style One </a></li>
                                <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Style Two </a></li>
                                <li class="nav-item"><a href="blog-details.html" class="nav-link">Blog Details </a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link">信息 <i class='bx bx-caret-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="blog-details.html" class="nav-link">内测 </a></li>
                                <li class="nav-item"><a href="blog-details.html" class="nav-link">内测 </a></li>
                                <li class="nav-item"><a href="/user/logout/" class="nav-link">退出登录 </a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="nav-side d-display">
                        <div class="nav-side-item">
                        </div>
                        <div class="nav-side-item">
                            <div class="get-btn"><a href="#"
                                                    class="default-btn btn-bg-two border-radius-50">
                                我的主页
                                <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="side-nav-responsive">
        <div class="container-max">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="in-circle circle-one"></div>
                    <div class="in-circle circle-two"></div>
                    <div class="in-circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-nav-item nav-side">
                            <div class="get-btn"><a href="#"
                                                    class="default-btn btn-bg-two border-radius-50">
                                我的主页
                                <i class='bx bx-chevron-right'></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 顶部导航栏结束 -->

<!-- 子继承页面自己的内容 -->
{% block main %}

{% endblock %}
<!-- 子继承页面自己的内容结束 -->

<!-- 底部备案信息 -->
{% block footer %}
    <footer class="footer-area footer-bg">
        <div class="container">
            <div class="copy-right-area">
                <div class="copy-right-text">
                    <p>Copyright ©2021-2022 IMUSTCTF. All Rights Reserved by dahe<br><a
                            href="https://beian.miit.gov.cn/"
                            target="_blank">蒙ICP备 2021005358号</a></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
<!-- 底部备案信息结束 -->

<script src="{% static 'index/js/jquery.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'index/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'index/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'index/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'index/js/wow.min.js' %}"></script>
<script src="{% static 'index/js/meanmenu.js' %}"></script>
<script src="{% static 'index/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'index/js/form-validator.min.js' %}"></script>
<script src="{% static 'index/js/contact-form-script.js' %}"></script>
<script src="{% static 'index/js/custom.js' %}"></script>
{% block jslist %}{% endblock %}
</body>
</html>
