<!-- 军火库主页 -->
{% extends "nav.html" %}
{% block meta_list %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% endblock %}
{% block title %}
    军火库 - IMUSTCTF
{% endblock %}
{% block arms %}
    active
{% endblock %}
{% block csslist %}
    <link rel="stylesheet" href="{% static 'index/css/vendors.chunk.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/umi.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/layouts.chunk.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/p.index.chunk.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/search-form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tips/css/message.css' %}">
{% endblock %}
{% block main %}
    <div class="ant-pro-basicLayout">
        <section style="min-height: 100%;">
            <div class="ant-layout" style="position: relative;">
                <main class="ant-pro-basicLayout-content">
                    <div>
                        <div class="ant-row" style="margin-left: -12px; margin-right: -12px; row-gap: 0px;">
                            <div style="padding-left: 12px; padding-right: 12px;">
                                <!-- 顶部项目选择按钮 -->
                                <div style="margin-left: -6px; margin-right: -6px; row-gap: 0px;padding-left: 6px; padding-right: 6px; flex: 1 1 auto; min-width: 0px;">
                                    <div class="ant-tabs ant-tabs-top ant-tabs-card">
                                        <div class="ant-tabs-nav">
                                            <div class="ant-tabs-nav-list"
                                                 style="transform: translate(0px, 0px);">
                                                <div class="ant-tabs-tab" id="PT">
                                                    <div role="tab" aria-selected="true"
                                                         class="ant-tabs-tab-btn" tabindex="0">
                                                        <span>渗透测试</span>
                                                    </div>
                                                </div>
                                                <div class="ant-tabs-tab" id="web">
                                                    <div role="tab" aria-selected="true"
                                                         class="ant-tabs-tab-btn" tabindex="0">
                                                        <span>Web</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 顶部项目选择按钮结束 -->
                                <!-- 某一个项目的header信息 -->
                                <div class="ant-page-header">
                                    <div class="ant-page-header-heading ant-page-header-heading-left">
                                        <span class="ant-page-header-heading-title" id="header_text"></span>
                                        <!-- 搜索框 -->
                                        <section>
                                            <form action="/arms/index/all/hot/" method="get">
                                                <div class="search-wrapper">
                                                    <div class="input-holder">
                                                        <input name="search_data" type="text" class="search-input"
                                                               placeholder="搜索军火库内容"/>
                                                        <button class="search-icon"
                                                                onclick="searchToggle(this, event);">
                                                            <span></span></button>
                                                    </div>
                                                    <span class="close" onclick="searchToggle(this, event);"></span>
                                                    <div class="result-container">
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                        <!-- 搜索框结束 -->
                                        <span class="ant-page-header-heading-extra">
                                            <label class="ant-radio-button-wrapper" id="hot">
                                                <span class="ant-radio-button">
                                                    <input type="radio" class="ant-radio-button-input">
                                                    <span class="ant-radio-button-inner"></span>
                                                </span>
                                                <span>最热</span>
                                            </label>
                                            <label class="ant-radio-button-wrapper" id="new">
                                                <span class="ant-radio-button">
                                                    <input type="radio" class="ant-radio-button-input">
                                                    <span class="ant-radio-button-inner"></span>
                                                </span>
                                                <span>最新</span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <!-- 某一个项目的header信息结束 -->

                                <div style="margin-bottom: 16px;"></div>
                                <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
                                    {% for arm in arms %}
                                        <!-- 卡片 -->
                                        <div style="padding: 12px;">
                                            <div class="ant-list-item"
                                                 style="padding-left: 8px; padding-right: 8px; flex: 1 1 auto;">
                                                <div class="ant-card ant-card-bordered ant-card-hoverable card___1f7Z2">
                                                    <div class="ant-card-body">
                                                        <a target="_blank">
                                                            <div class="ant-card-meta cardMeta___1_zud">
                                                                <div class="ant-card-meta-avatar">
                                                                <span class="ant-avatar">
                                                                    <img src="{{ arm.img_src }}"
                                                                         alt="newbee-mall-vue3-app">
                                                                </span>
                                                                </div>
                                                                <div class="ant-card-meta-detail">
                                                                    <div class="ant-card-meta-title">
                                                                        <div>{{ arm.name }}</div>
                                                                    </div>
                                                                    <div class="ant-card-meta-description">
                                                                        <span>{{ arm.introduction }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tagList___3RFqj" style="min-height: 60px;">
                                                                <span class="ant-tag">{{ arm.label.0 }}</span>
                                                                <span class="ant-tag">{{ arm.label.1 }}</span>
                                                                <span class="ant-tag">{{ arm.label.2 }}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <ul class="ant-card-actions">
                                                        <li style="width: 33.3333%;">
                                                        <span>
                                                            <div id="like{{ arm.name }}">
                                                                <span role="img" class="anticon">
                                                                    <svg viewBox="64 64 896 896" focusable="false"
                                                                         data-icon="heart" width="1em" height="1em"
                                                                         fill="currentColor" aria-hidden="true">
                                                                        <path d="M923 283.6a260.04 260.04 0 00-56.9-82.8 264.4 264.4 0 00-84-55.5A265.34 265.34 0 00679.7 125c-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5a258.44 258.44 0 00-56.9 82.8c-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3.1-35.3-7-69.6-20.9-101.9zM512 814.8S156 586.7 156 385.5C156 283.6 240.3 201 344.3 201c73.1 0 136.5 40.8 167.7 100.4C543.2 241.8 606.6 201 679.7 201c104 0 188.3 82.6 188.3 184.5 0 201.2-356 429.3-356 429.3z"></path>
                                                                    </svg>
                                                                </span>
                                                                <div>{{ arm.count_data.likes }}</div>
                                                            </div>
                                                        </span>
                                                        </li>
                                                        <li style="width: 33.3333%;">
                                                        <span>
                                                            <div id="share{{ arm.name }}">
                                                                <span role="img" class="anticon">
                                                                    <svg viewBox="64 64 896 896" focusable="false"
                                                                         data-icon="share-alt" width="1em"
                                                                         height="1em" fill="currentColor"
                                                                         aria-hidden="true">
                                                                        <path d="M752 664c-28.5 0-54.8 10-75.4 26.7L469.4 540.8a160.68 160.68 0 000-57.6l207.2-149.9C697.2 350 723.5 360 752 360c66.2 0 120-53.8 120-120s-53.8-120-120-120-120 53.8-120 120c0 11.6 1.6 22.7 4.7 33.3L439.9 415.8C410.7 377.1 364.3 352 312 352c-88.4 0-160 71.6-160 160s71.6 160 160 160c52.3 0 98.7-25.1 127.9-63.8l196.8 142.5c-3.1 10.6-4.7 21.8-4.7 33.3 0 66.2 53.8 120 120 120s120-53.8 120-120-53.8-120-120-120zm0-476c28.7 0 52 23.3 52 52s-23.3 52-52 52-52-23.3-52-52 23.3-52 52-52zM312 600c-48.5 0-88-39.5-88-88s39.5-88 88-88 88 39.5 88 88-39.5 88-88 88zm440 236c-28.7 0-52-23.3-52-52s23.3-52 52-52 52 23.3 52 52-23.3 52-52 52z"></path>
                                                                    </svg>
                                                                </span>
                                                                <div>{{ arm.count_data.share }}</div>
                                                            </div>
                                                        </span>
                                                        </li>
                                                        <li style="width: 33.3333%;">
                                                            <span>
                                                                <a href="{{ arm.download_src }}" target="_blank"
                                                                   id="download{{ arm.name }}">
                                                                    <span role="img" tabindex="-1" class="anticon">

                                                                            <svg viewBox="64 64 896 896"
                                                                                 focusable="false"
                                                                                 data-icon="export" width="1em"
                                                                                 height="1em"
                                                                                 fill="currentColor" aria-hidden="true">
                                                                             <path d="M502.010485 765.939573c3.773953 3.719718 8.686846 5.573949 13.596669 5.573949 0.075725 0 0.151449-0.010233 0.227174-0.011256 0.329505 0.016373 0.654916 0.050142 0.988514 0.050142 0.706081 0 1.400906-0.042979 2.087545-0.116657 4.352121-0.366344 8.607028-2.190899 11.961426-5.496178l335.053985-330.166675c7.619538-7.509021 7.709589-19.773346 0.200568-27.393907s-19.774369-7.711636-27.39493-0.201591L536.193005 706.304358 536.193005 50.019207c0-10.698666-8.67252-19.371186-19.371186-19.371186s-19.371186 8.67252-19.371186 19.371186l0 657.032164-306.881342-302.44838c-7.618515-7.509021-19.883863-7.419993-27.393907 0.199545-7.509021 7.619538-7.419993 19.884886 0.199545 27.393907L502.010485 765.939573z"></path>
                                                                                <path d="M867.170139 711.020776c-10.698666 0-19.371186 8.67252-19.371186 19.371186l0 165.419494c0 13.054317-10.620895 23.675212-23.676236 23.675212L205.182103 919.486668c-13.054317 0-23.676236-10.620895-23.676236-23.675212L181.505867 730.391962c0-10.698666-8.67252-19.371186-19.371186-19.371186s-19.371186 8.67252-19.371186 19.371186l0 165.419494c0 34.416857 28.000728 62.416562 62.417585 62.416562l618.941638 0c34.417881 0 62.417585-27.999704 62.417585-62.416562L886.540302 730.391962C886.541325 719.693296 877.868805 711.020776 867.170139 711.020776z"
                                                                                      p-id="2603"></path>
                                                                            </svg>
                                                                    </span>
                                                                    <div>{{ arm.count_data.download }}</div>
                                                                </a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 卡片结束 -->
                                        <script>
                                            // 用户点击下载按钮
                                            var oDownload{{ arm.id }} = document.getElementById("download{{ arm.name }}");
                                            oDownload{{ arm.id }}.onclick = function () {
                                                $.ajax({
                                                    url: "/arms/index/add_download/",
                                                    type: 'POST',
                                                    data: {
                                                        'armname': '{{ arm.name }}',
                                                    },
                                                    success: function (msg) {
                                                        // 隐藏按钮，防止用户恶意频繁调用接口
                                                        oDownload{{ arm.id }}.style.visibility = 'hidden';
                                                    }
                                                })
                                            };
                                        </script>
                                        <script>
                                            // 用户点击分享按钮
                                            var oShare{{ arm.id }} = document.getElementById("share{{ arm.name }}");
                                            oShare{{ arm.id }}.onclick = function () {
                                                navigator.clipboard.writeText('{{ arm.download_src }}');
                                                success_share();
                                                $.ajax({
                                                    url: "/arms/index/add_share/",
                                                    type: 'POST',
                                                    data: {
                                                        'armname': '{{ arm.name }}',
                                                    },
                                                    success: function (msg) {
                                                        // 隐藏按钮，防止用户恶意频繁调用接口
                                                        oShare{{ arm.id }}.style.visibility = 'hidden';
                                                    }
                                                })
                                            };
                                        </script>
                                        <script>
                                            // 用户点击喜欢按钮
                                            var oLike{{ arm.id }} = document.getElementById("like{{ arm.name }}");
                                            oLike{{ arm.id }}.onclick = function () {
                                                success_like();
                                                $.ajax({
                                                    url: "/arms/index/add_like/",
                                                    type: 'POST',
                                                    data: {
                                                        'armname': '{{ arm.name }}',
                                                    },
                                                    success: function (msg) {
                                                        // 隐藏按钮，防止用户恶意频繁调用接口
                                                        oLike{{ arm.id }}.style.visibility = 'hidden';
                                                    }
                                                })
                                            };
                                        </script>
                                    {% endfor %}
                                </div>

                                <!-- 获取更多的按钮 -->
                                <div style="text-align: center; margin: 20px 0px;">
                                    <button type="button" class="ant-btn ant-btn-primary ant-btn-lg">
                                        <a target="_blank">
                                            <div class="ant-space" style="gap: 8px;">
                                                <div>
                                                    <span class="anticon">
                                                        <svg viewBox="64 64 896 896" focusable="false"
                                                             data-icon="export"
                                                             width="1em" height="1em" fill="currentColor"
                                                             aria-hidden="true">
                                                            <path d="M888.3 757.4h-53.8c-4.2 0-7.7 3.5-7.7 7.7v61.8H197.1V197.1h629.8v61.8c0 4.2 3.5 7.7 7.7 7.7h53.8c4.2 0 7.7-3.4 7.7-7.7V158.7c0-17-13.7-30.7-30.7-30.7H158.7c-17 0-30.7 13.7-30.7 30.7v706.6c0 17 13.7 30.7 30.7 30.7h706.6c17 0 30.7-13.7 30.7-30.7V765.1c0-4.3-3.5-7.7-7.7-7.7zm18.6-251.7L765 393.7c-5.3-4.2-13-.4-13 6.3v76H438c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112a8 8 0 000-12.6z"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                                <div class="ant-space-item"> 点击查看更多（敬请期待）</div>
                                            </div>
                                        </a>
                                    </button>
                                </div>
                                <!-- 获取更多的按钮结束 -->
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </section>
    </div>
{% endblock %}

{% block jslist %}
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'index/js/change_color.js' %}"></script>
    <script type="text/javascript" src="{% static 'search/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'tips/js/message.js' %}"></script>
    <script>
        function success_share() {
            $.message({type: 'success', content: "军火下载地址已复制到您的剪切板"});
        }

        function success_like() {
            $.message({type: 'success', content: "谢谢你喜欢我哦~"});
        }
    </script>
{% endblock %}