<!-- 404页面 -->

{% extends "nav.html" %}

{% block title %}
    404 - IMUSTCTF
{% endblock %}

{% block main %}
    <div class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="error-content">
                    <h3>糟糕！找不到页面</h3>
                    <p>您正在查找的页面可能已被删除，名称已更改或暂时被删除不可用</p>
                    <a href="/" class="default-btn btn-bg-two">返回首页</a></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
